.git
.github
.vscode

agile_versiion1/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

reports/
frontend/coverage/

backend/generated_audio/
generated_audio/
uploaded_images/

*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
